@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic|Roboto+Slab:400,700|Yanone+Kaffeesatz);


body {
    background-color: #f5fafa;
}

img {
    display: block;
    width: 1400px;
    height: 777px;
}

h1 {
    position: relative;
    font-size: 60px;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    margin-left: 900px;
    margin-right: 100px;
    margin-bottom: 500px;
    color: #ffffff;
    text-align: left;
}

h2 {


}

h3 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    margin-left: 300px;
    margin-right: 100px;
    color: #191919;
    text-align: left;
}

h4 {
    font-family: 'Roboto Slab', serif;
    margin-left: 300px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}

p, #priority, #pie{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    padding: 4px;
    margin-left: 300px;
    margin-right: 100px;
    color: #333333;
}

p.barandbutton{
    position: absolute;
    cursor: default;
    margin-top: -200px;
    margin-left: 500px;
}

#user_school {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1000;
  display: inline;
  min-width: 300px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  _width: 300px;
  padding: 5px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: white;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #191919;
    white-space: nowrap;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

&.ui-state-hover, &.ui-state-active {
  color: #b31217;
  background-color: #E6E6E6;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
position: absolute;
width: 200px;
height: 30px;
pointer-events: none;
}

.line {
  fill: none;
  stroke: gray;
  opacity: 0.15;
  stroke-width: 1.5px;
}

#rank {
  position:middle;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin-left: 300px;
  margin-right: 100px;
  text-decoration: none;
}

#rank:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.arc path {
  stroke: #fff;
  text: 10px sans-serif;
}


