@import url(http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700|Roboto+Slab:400,300|Roboto:400,300,300italic,500,500italic);

body {
    background-color: #fff9f9;
}

img {
    display: block;
    width: 1400px;
    height: 777px;
}

h1 {
    font-size: 80px;
    position: relative;
    font-family: 'Stardos Stencil', cursive;
    text-transform: uppercase;
    margin-left: 750px;
    margin-right: 100px;
    margin-top: -700px;
    color: #ffffff;
    text-align: left;
}

h2 {
    font-size: 24px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 1.5em;
    margin-left: 750px;
    margin-right: 100px;
    margin-top: 50px;
    color: #ffffff;

}

h3 {
    font-size: 36px;
    position: relative;
    font-family: 'Roboto Slab', serif;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 100px;
    color: #191919;
    text-align: left;
}

h4 {
    font-family: 'Roboto Slab', serif;
    margin-left: 300px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}

p, #priority, #pie{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    padding: 4px;
    margin-left: 300px;
    margin-right: 100px;
    color: #333333;
}

.search {
    position: relative;
    font-family: 'Roboto Slab', serif;
    margin-left: 750px;
    margin-right: 100px;
    margin-top: 150px;
}

#user_school {
  position: relative;
  top: 100%;
  left: 0%;
  z-index: 1000;
  min-width: 300px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  _width: 300px;
  padding: 5px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #c1272d;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  color: #ffffff;
}

.fixed-height {
  padding: 1px;
  max-height: 200px;
  overflow: auto;
}

.ui-menu {
  list-style:none;
  padding: 2px;
  margin: 0;
  display:block;
  float: left;
  margin-top: -3px;
  color: #ffffff; /*changes the color of the dropdown items*/
}

.ui-menu .ui-menu-item {
  margin:0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  color: #ffffff !important;
  background: #AA3939 !important;  /*change the background of the dropdown list */
}


.ui-menu .ui-menu-item:hover {
  background: #c1272d !important; /*change the background color of the item */
  font-weight: normal;
  margin: 1px;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  white-space: nowrap;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {
position: absolute;
width: 200px;
height: 30px;
pointer-events: none;
}

.line {
  fill: none;
  stroke: gray;
  opacity: 0.15;
  stroke-width: 1.5px;
}

#rank {
  position:middle;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin-left: 300px;
  margin-right: 100px;
  text-decoration: none;
}

#rank:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.arc path {
  stroke: #fff;
  text: 10px sans-serif;
}

#lineChart {

}

#search {
  display: inline-block;
}
